mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				+e.sliderCol.col-lg-8
					+b.mainSlider
						+e.slider--js.swiper-container
							.swiper-wrapper
								mixin slide(i,t)
									+e.slide.swiper-slide
										+e.item(href='#')
											+e.logo

												img.swiper-lazy.res-i(src="#" data-src=`img/svg/category-${i}.svg`, alt="")
											h6= t
								+slide('1','Проекты',`background-image: linear-gradient(to bottom, #64dbff 0%, #4294f4 100%);`)
								+slide('5','Об РДШ',`background-image: linear-gradient(to bottom, #ff7777 0%, #f02e2e 100%);`)
								+slide('9','Спорт РДШ',`background-image: linear-gradient(to bottom, #fff 0%, #d8f0fd 100%);`)
								+slide('2','Направления',`background-image: linear-gradient(to bottom, #6ce84d 0%, #1dad3e 100%);`)
								+slide('6','Школы',`background-image: linear-gradient(to bottom, #ff735a 0%, #fcbc45 100%);`)
								+slide('10','Корпоративный Университет',`background-image: linear-gradient(to bottom, #fff 0%, #ffdbbc 100%);`)
								+slide('3','Мероприятия',`background-image: linear-gradient(to bottom, #ffb871 0%, #ff7334 100%);`)
								+slide('7','Календарь',`background-image: linear-gradient(to bottom, #fff 0%, #fdd8d8 100%);`)
								+slide('11','Классное Радио',`background-image: linear-gradient(to bottom, #fff 0%, #d8fdd8 100%);`)
								+slide('4','Новости',`background-image: linear-gradient(to bottom, #485dff 0%, #417cff 100%);`)
								+slide('8','Контакты',`background-image: linear-gradient(to bottom, #fff 0%, #e5ceff 100%);`)

								+slide('1','Проекты',`background-image: linear-gradient(to bottom, #64dbff 0%, #4294f4 100%);`)
								+slide('2','Направления',`background-image: linear-gradient(to bottom, #6ce84d 0%, #1dad3e 100%);`)
								+slide('3','Мероприятия',`background-image: linear-gradient(to bottom, #ffb871 0%, #ff7334 100%);`)
								+slide('4','Новости',`background-image: linear-gradient(to bottom, #485dff 0%, #417cff 100%);`)
								+slide('5','Об РДШ',`background-image: linear-gradient(to bottom, #ff7777 0%, #f02e2e 100%);`)
								+slide('6','Школы',`background-image: linear-gradient(to bottom, #ff735a 0%, #fcbc45 100%);`)
								//- +slide('7','Календарь')
								//- +slide('8','Контакты')
								//- +slide('9','Спорт РДШ')
								//- +slide('10','Корпоративный Университет')
								//- +slide('11','Классное Радио')
								
						.text-center
							.swiper-pagination
				+e.bannerCol.col-lg.order-lg-first
					+e.block
						+e.txtSm Будь в самом большом детском движении России
						h4 Нас более 800 000 человек!
					+b.linkBlock(href="#")
						+pic('banner-1.jpg','bg','')(class="picture-bg")
					+b.linkBlock--whithTxt(href="#")
						+pic('banner-2.jpg','bg','')(class="picture-bg")
						//- +e.block
						//- 	+e.text
						//- 		+e.subtitle Всероссийский конкурс
						//- 		h4 Викторина победы
						//- 	+e.iconArrow
						//- 		+icon('arrow-forward')
					+b.calendarBlock
						.row.align-items-center
							.col-auto
								+e.calendar
									+e.day Пятница
									+e.wrap
										+e.number 22
										+e.month Ноября
							.col
								+e.descr На&nbsp;киберлиге РДШ уже 3000&nbsp;участников
			.row
				.col-lg-4
				+e.bannerCol.col-lg
					+e.foot
						+soc()
					+b.theme
						+e.text Фон на сайте:
						block

	// end headerBlock