extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/sProjectInner/_sProjectInner.pug
include ../blocks/sOtherProjects/_sOtherProjects.pug
include ../blocks/sSchools/_sSchools.pug
include ../blocks/sSchoolHead/_sSchoolHead.pug
include ../blocks/sDoc/_sDoc.pug

block variables
	- let  mainPage= 'bg'
block title
	- let  title= 'Документы'
	title= title
block pagecontent

	.main-wrapper()
		style.
			.bg {
				
				background: linear-gradient(-240.64deg, #5b6ceb 0%, #7bc2ff 100%);
			}
		+header()
			+topLine()
		+sDoc
		.container
			+b.theme.mt-0.mb-5
				+e.text Фон на сайте:
				+e.item.active(href="#" style="background-image: linear-gradient(to bottom, #5b6ceb 0%, #7bc2ff 100%);")
				+e.item(href="#")
				+e.item(href="#")
	//- +sForm()
	//- +sContact()
	//- +footer()


	