mixin sStructure(data)
	// start sStructure
	+b.SECTION.sStructure.section#sStructure&attributes(attributes)
		.container
			.section__inner
				+b.section-title
					h1 Структура 
				h4.mb-3 Учредители
				.row.pb-4
					mixin hitem(i, p)
						+e.col.col-xxl-3.col-lg-4.col-sm-6
							+e.item-h.section__inner
								+e.img-wrap
									+pic(`sStructure-${i}.png`,'',0)
								p!= p
					+hitem(`1`,`Федеральное агентство по&nbsp;делам молодёжи`)
					+hitem(`2`,`Общероссийское общественное движение Ассоциация учащейся молодежи Российского Союза Молодежи &laquo;Содружество&raquo; (АУМ РСМ)`)

					+hitem(`3`,`Общероссийская общественная организация &laquo;Национальная родительская ассоциация социальной поддержки семьи и&nbsp;защиты семейных ценностей&raquo;`)
					+hitem(`4`,`Общероссийская общественная физкультурно-спортивная организация &laquo;Всероссийская федерация школьного спорта&raquo;`)

					+hitem(`5`,`Молодежная общероссийская общественная организация &laquo;Российские Студенческие Отряды&raquo; (РСО)`)

					+hitem(`6`,`Общероссийское общественное движение Ассоциация учащейся молодежи Российского Союза Молодежи &laquo;Содружество&raquo; (АУМ РСМ)`)

					+hitem(`7`,`Совет проректоров по&nbsp;воспитательной работе образовательных организаций высшего образования России`)
				h4.mb-3 Руководящие, контрольно-ревизионные и исполнительные органы
				.row.row--lg.pb-4
					mixin item(t, p)
						+e.col.col-lg-6
							+e.item.section__inner
								+e.title= t 
								block
					+item(`Съезд организации`,``)
						p Утверждает Устав, приоритетные направления, избирает состав и&nbsp;руководителей низших органов, отвечает за&nbsp;реорганизацию и&nbsp;решение любых других вопросов.

						p Включает в&nbsp;зависимости от&nbsp;принятого порядка: состав Координационного совета и&nbsp;Центральной контрольно-ревизионной комиссии; Исполнительного директора Организации; отобранных на&nbsp;региональных конференциях делегатов.
					+item(`Координационный совет`,``)
						p Принимает решения и организует их исполнение, регулирует деятельность Организации. Осуществляет от имени Организации права юридического лица и исполняет его обязанности, распоряжается имуществом.
					+item(`Центральная контрольно-ревизионная комиссия`,``)
						p Осуществляет контроль за&nbsp;соблюдением Устава, исполнением решений Съезда и&nbsp;Координационного совета, а&nbsp;также за&nbsp;финансовой и&nbsp;предпринимательской деятельностью Организации, исполнением своих обязанностей должностными лицами.
					+item(`Дирекция`,``)
						p ФГБУ &laquo;Российский детско-юношеский центр&raquo;. Приводит в&nbsp;жизнь текущую политику, определяемую Съездом Организации, реализует планы, программы и&nbsp;отдельные мероприятия, подготавливает и&nbsp;проводит Съезды, организует делопроизводство, обучение, юридическое обеспечение и&nbsp;прочие функции.
					+item(`Региональные отделения`,``)
						p Осуществляют свою деятельность в&nbsp;пределах территорий соответствующих субъектов Российской Федерации. Не&nbsp;имеют собственных уставов, руководствуются и&nbsp;действуют на&nbsp;основании настоящего Устава Организаци.
	// end sStructure