mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			+e.inner
				.row.justify-content-between.align-items-center
					.col-auto
						+e.logo(href="/")
							img.res-i(src="img/svg/logo.svg", alt="")
					.col-auto
						+e.row.row.align-items-center
							+e.col.col-auto.accardion-block
								+e.audio-wrap.accardion_hidden-js
									<audio class="audio-js" src="audio/radio_tapok.mp3" controls="controls"></audio>
								+e.radioBtn.d-lg-none.accardionToggle--js(type="button")
									+icon('radio')
							.col-auto.d-none.d-lg-block
								+e.search
									+input('Поиск на сайте…','search')
									+e.btnSearch.link-modal(href="#modal-search-result")
										+icon('search')
							.col-auto
								+e.user(href="#")
									+icon('user')
									//- +e.userImg
									//- 	img.res-i(src="img/@1x/person-1.jpg", alt="")
									span.d-none.d-md-inline Вход
							.col-auto
								+e.mnu
									+mob-mnu()

	// end topLine