
mixin itemDoc(p, data, s)
	if s
		+e.slide.swiper-slide
			+e.item
				+e.title-sm!= t
				p!= p 
	else
		+e.col-item.col-xxl-4.col-lg-6
			+e.item
				+e.date 21.09.2020
				 
				p!= p 
				.row.row--sm.align-items-center
					.col
						block
					.col-auto
						a.btn.btn-white(href="#") Скачать
mixin sDoc(data)
	// start sDoc
	+b.SECTION.sDoc.section#sDoc&attributes(attributes)
		.container
			+e.head.section__inner
				.row
					.col-xxl-auto
						h1 Документы
					+e.col.col-xl-auto.col-md-4
						+input('Тип','select')
					+e.col.col-xl-auto.col-md-4
						+input('Категория','select')
					.col
						+input('Название документа…','text')
					.col-auto
						+e.btn-head.btn-white(type="button") Найти
			+e.body.section__inner.pb-0
				.row
					+itemDoc('Положение Всероссийского проекта «Фестиваль театрализованных представлений для обучающихся начальных классов»','21.09.2020')
						+e.label Устав
						+e.label Планы деятельности
					+itemDoc('ПОЛОЖЕНИЕ об организации и проведении Всероссийской акции “Мечта учителя”','21.09.2020')
						+e.label Приказ
						+e.label Федеральные законы РФ
					+itemDoc('ПОЛОЖЕНИЕ об организации и проведении Всероссийских соревнований по русскому силомеру “Сила РДШ”','18.09.2020')
						+e.label Информация
						+e.label Мероприятия
					+itemDoc('ПОЛОЖЕНИЕ об организации и проведении акции “Экодежурный по стране”','17.09.2020')
						+e.label Положение
						+e.label Направления
					+itemDoc('Приказ Об отмене приказа №45 (Смена РДШ-ТС)','28.08.2020')
						+e.label Приказ
						+e.label Основные документы
					+itemDoc('Анкета кандидата РДШ','28.08.2020')
						+e.label Форма
						+e.label Основные документы

					+itemDoc('Положение о Республиканском детском совете Удмуртского регионального отделения Общероссийской общественно-государственной детско-юношеской организации «Российское движение школьников»','17.09.2020')
						+e.label Положение
						+e.label Планы деятельности

					+itemDoc('Технологии мотивации специалистов в области воспитания к социально-значимой деятельности','15.06.2020')
						+e.label Информация
						+e.label Направления

					+itemDoc('Организация тематических или профильных смен Общероссийской общественно-государственной детско-юношеской организации “Российское движение школьников”','15.06.2020')
						+e.label Информация
						+e.label Направления

					+itemDoc('Модели организации региональных ресурсных центров общероссийской общественно-государственной детско-юношеской организации “Российское движение школьников”','17.09.2020')
						+e.label Положение
						+e.label Планы деятельности

					+itemDoc('Нормативно-правовое обеспечение деятельности воспитательной работы с детьми и молодежью')
						+e.label Устав
						+e.label Основные документы
					+itemDoc('РДШ: Профилактика негативных явлений в подростковой и молодежной среде','15.06.2020')
						+e.label Информация
						+e.label Мероприятия
			+pugin()
	// end sDoc